// size
@maxWitdh: 1440px;

// 导航栏尺寸
@navigate-height: 38px;
// content padding
@content-padding: 40px;


// font-size
// 导航栏字体
@navigate-font-size: 18px;
// title字体
@title-font-size: 32px;
// 首页content字体
@content-title-font-size: 40px;


// color
@bg-color: #1A1A1A;
// Baise
@text-white-color: #FFFFFF;
// huangse
@text-highlight-color: #CFF83A;
// 导航栏字体颜色
@navigate-text-color: #FFFFFF;
// 导航栏 active颜色
@navigate-active-bg-color: #CFF83A;
@navigate-avtive-color: #1A1A1A;

// content-desc color
@content-desc-color: #1A1A1A;

// 白色透明度 60%
@text-white-60-color: rgba(255, 255, 255, 0.60);
// 白色透明度 80%
@text-white-80-color: rgba(255, 255, 255, 0.80);
// 黑色字体颜色
@text-black-color: #000;


p {
    margin: 0;
}



